{% extends "base/base.jinja2" %}

{% block category_name %}関数（function）{% endblock %}

{% block quiz_creation_rules %}
- 対象コードに含まれる**関数定義**を題材にする
- 関数の引数、戻り値、処理内容を問う問題を作成する
- 関数の呼び出し方、引数の渡し方を問う問題を作成する
{% endblock %}
