{% extends "base/base.jinja2" %}

{% block category_name %}文法・処理（syntax）{% endblock %}

{% block quiz_creation_rules %}
- 対象コードに含まれる基本的な文法や処理を問う
- 対象コード内の、**関数定義やクラス定義を含まない、数行の処理** を対象とする
- 対象コード中の特定の行や小さなブロックを抜き出して問題にする
{% endblock %}
